# Workflow that lints code, runs tests, and builds the project. On pushes
# to the main branch, also creates a version and create a release on GitHub.
name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test_build_release:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: CHECKOUT
        uses: actions/checkout@v3

      - name: INSTALL - node.js, yarn
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'

      - name: DEBUG - node, npm, yarn versions
        run: |
          echo "node --version: $(node --version)"
          echo "npm --version: $(npm --version)"
          echo "yarn --version: $(yarn --version)"

      - name: CACHE - get yarn cache folder path
        id: yarn-cache-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - name: CACHE - yarn dependencies
        id: yarn-cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: INSTALL - dependencies
        run: yarn install --immutable

      - name: LINT, TEST
        run: yarn ci

      - name: BUILD
        run: yarn build

      # semantic-release will only run on pushes to main (see package.json)
      - name: RELEASE
        run: yarn semantic-release
        if: github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
